In [113]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import explained_variance_score


dataFrame = pd.read_csv("NFLDraftDataCleaned.csv")

In [114]:
#Create new dataframes to hold independent and dependent variables
# X = dataFrame[['position', 'age', 'height', 'weight', 'collegeAttended', 'rushingAttempts', 'rushingYards',
#                            'avgYardsPerRush', 'rushingTouchdowns', 'receptions', 'receivingYards', 'avgYardsPerReception',
#                            'receivingTouchdowns', 'fortyYardDash', 'verticalJump', 'benchPress', 'broadJump', 'threeCone',
#                            'shuttle']]
X = dataFrame[['age', 'height', 'weight', 'rushingAttempts', 'rushingYards',
                           'avgYardsPerRush', 'rushingTouchdowns', 'receptions', 'receivingYards', 'avgYardsPerReception',
                           'receivingTouchdowns', 'fortyYardDash', 'verticalJump', 'benchPress', 'broadJump', 'threeCone',
                           'shuttle']]
y = dataFrame[['draftRound']]

In [115]:
# #Some of the dependent variables (position and collegeAttended) are stored as categorical data
# #This needs to be converted to numerical data using OneHotEncoder
# onehot = pd.get_dummies(X['position'])
# X = X.drop('position', axis = 1)
# X = X.join(onehot)

# onehot = pd.get_dummies(X['collegeAttended'])
# X = X.drop('collegeAttended', axis = 1)
# X = X.join(onehot)

In [116]:
#Split the dataset into some training data and testing data
X_Train, X_Test, y_Train, y_Test = train_test_split(X, y, test_size=0.2)

#Create a linear regression model and fit it to the train data
linearModel = LinearRegression()
linearModel.fit(X_Train, y_Train)

#Predict the draft round for the test set
unformattedPredictions = linearModel.predict(X_Test)

predictions = []

#There are some errors with our predictions, they are giving wildly higher scores
for prediction in unformattedPredictions:
    if(prediction < 1.5):
        predictions.append(1)
    if(prediction >= 1.5 and prediction < 2.5):
        predictions.append(2)
    if(prediction >= 2.5 and prediction < 3.5):
        predictions.append(3)
    if(prediction >= 3.5 and prediction < 4.5):
        predictions.append(4)
    if(prediction >= 4.5 and prediction < 5.5):
        predictions.append(5)
    if(prediction >= 5.5 and prediction < 6.5):
        predictions.append(6)
    if(prediction >= 6.5):
        predictions.append(7)

print(unformattedPredictions)    

explainedVarianceScore = explained_variance_score(y_Test, predictions)
print("Explained variance score = ", explainedVarianceScore)

comparisonFrame = pd.DataFrame({'Actual': y_Test['draftRound'], 'predicted': predictions})
comparisonFrame

[[3.58351207]
 [4.58878342]
 [3.15894949]
 [3.57460007]
 [3.50309831]
 [4.16442518]
 [3.93373041]
 [2.52139051]
 [3.16488215]
 [4.49251674]
 [4.06701045]
 [4.21040782]
 [3.56424399]
 [4.6958171 ]
 [3.66968213]
 [1.54363699]
 [4.46428404]
 [2.72843465]
 [4.39570076]
 [4.1368333 ]
 [4.40746393]
 [3.7321543 ]
 [3.56462534]
 [4.22276892]
 [2.88536514]
 [3.51576567]
 [5.41221305]
 [6.46041965]
 [2.11035499]
 [3.29857798]
 [2.16767077]
 [2.38055512]
 [6.29911843]
 [5.20727554]
 [3.17402483]
 [5.01661655]
 [5.03339774]
 [3.25860233]
 [3.76372458]
 [5.05557909]
 [4.84922086]
 [5.04751204]
 [2.77393015]
 [5.08632188]
 [4.69239419]
 [3.40031936]
 [2.47958794]
 [2.80383967]
 [4.51863052]
 [3.07977314]
 [3.87964046]
 [3.80516894]
 [3.96604211]
 [5.05856064]
 [3.17659906]
 [4.20423609]
 [2.56081099]
 [3.97476621]
 [4.77376989]
 [5.20712064]
 [4.61967116]
 [3.44530397]
 [3.92328255]
 [3.25360589]
 [4.98542122]
 [3.16454436]
 [3.06745737]
 [4.64660214]
 [3.71704874]
 [5.14120583]
 [2.89394854]
 [5.07784037]
 [4.01213662]
 [4.62369528]
 [3.52464038]
 [4.11431719]
 [4.15881787]
 [3.97660704]
 [3.47278745]
 [4.22527739]
 [3.90592697]
 [2.88207098]
 [4.48033065]
 [2.85630434]
 [4.56380739]
 [3.08658686]
 [1.50534316]
 [3.86344564]
 [4.20937916]
 [4.21063251]
 [3.79904276]
 [5.26420499]
 [3.71250592]
 [3.32217552]
 [3.63340434]
 [4.9503271 ]
 [5.72760729]
 [1.8273712 ]
 [3.43823838]
 [3.98965926]
 [5.73470744]
 [5.38994969]
 [2.64257498]
 [3.97518702]
 [4.07660236]
 [3.23483823]
 [2.69404768]
 [3.36030912]
 [4.09194718]
 [4.35646718]
 [4.26790497]
 [3.8737714 ]
 [3.63764478]
 [3.34416921]
 [4.09396507]
 [4.3734966 ]
 [3.69211913]
 [3.39849693]
 [4.69613791]
 [2.96151839]
 [5.31534927]
 [2.14821819]
 [2.87326015]
 [4.24668792]
 [4.71600774]
 [2.8946165 ]
 [4.63564278]
 [4.95874043]
 [3.85688633]
 [3.25830982]
 [6.46234894]
 [4.04059797]
 [2.87885115]
 [4.14743619]
 [5.7279704 ]
 [4.42547501]
 [3.74405128]
 [4.77331966]
 [5.74951414]
 [4.04937734]
 [3.96842551]
 [4.66098251]
 [3.56271844]
 [4.0487152 ]
 [4.48176364]
 [2.88531392]
 [2.62937292]
 [4.77354467]
 [4.80535361]
 [1.76871231]
 [4.45304838]
 [5.40260421]
 [2.83826724]
 [3.86368625]
 [4.52944132]
 [2.83935161]
 [2.47169182]
 [2.92591948]
 [4.52122015]
 [6.01309815]
 [3.66747806]
 [3.23655553]
 [4.51469273]
 [4.73733152]
 [4.22121765]
 [3.49591755]
 [3.51471761]
 [3.78337205]
 [2.84397695]
 [3.11376558]
 [5.48904893]
 [4.83971159]
 [3.91534256]
 [4.66369929]
 [3.87207907]
 [2.99837289]
 [4.19627318]
 [3.66954301]
 [2.07325874]
 [4.7372073 ]
 [2.88421054]
 [3.2366134 ]
 [4.49943937]
 [3.9548998 ]
 [4.00633015]
 [4.18114212]
 [3.24822439]
 [5.99416987]]
Explained variance score =  0.1299340017768753

     Actual  predicted
512       5          4
663       4          5
837       7          3
653       3          4
561       5          4
508       5          4
13        2          4
646       2          3
849       2          3
501       4          4
814       4          4
113       4          4
734       6          4
150       2          5
107       2          4
908       3          2
524       6          4
854       3          3
669       5          4
61        2          4
764       3          4
118       4          4
53        1          4
852       3          4
755       3          3
750       2          4
78        5          5
219       5          6
188       1          2
704       2          3
..      ...        ...
44        7          5
522       6          6
727       5          4
484       1          3
64        3          5
181       7          5
556       4          4
331       2          3
104       2          4
117       4          4
631       7          3
328       1          3
400       3          5
38        5          5
62        3          4
172       5          5
474       7          4
402       3          3
891       7          4
17        3          4
574       7          2
130       6          5
433       1          3
878       5          3
555       4          4
343       3          4
643       2          4
604       4          4
177       5          3
231       7          6

[188 rows x 2 columns]