In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import explained_variance_score


dataFrame = pd.read_csv("NFLDraftDataCleaned.csv")

In [34]:
#Create new dataframes to hold independent and dependent variables
X = dataFrame[['position', 'age', 'height', 'weight', 'collegeAttended', 'rushingAttempts', 'rushingYards',
                           'avgYardsPerRush', 'rushingTouchdowns', 'receptions', 'receivingYards', 'avgYardsPerReception',
                           'receivingTouchdowns', 'fortyYardDash', 'verticalJump', 'benchPress', 'broadJump', 'threeCone',
                           'shuttle']]
# X = dataFrame[['age', 'height', 'weight', 'rushingAttempts', 'rushingYards',
#                            'avgYardsPerRush', 'rushingTouchdowns', 'receptions', 'receivingYards', 'avgYardsPerReception',
#                            'receivingTouchdowns', 'fortyYardDash', 'verticalJump', 'benchPress', 'broadJump', 'threeCone',
#                            'shuttle']]
y = dataFrame[['draftRound']]

In [35]:
#Some of the dependent variables (position and collegeAttended) are stored as categorical data
#This needs to be converted to numerical data using OneHotEncoder
onehot = pd.get_dummies(X['position'])
X = X.drop('position', axis = 1)
X = X.join(onehot)

onehot = pd.get_dummies(X['collegeAttended'])
X = X.drop('collegeAttended', axis = 1)
X = X.join(onehot)

In [36]:
#Split the dataset into some training data and testing data
X_Train, X_Test, y_Train, y_Test = train_test_split(X, y, test_size=0.2, shuffle = False)

#Create a linear regression model and fit it to the train data
linearModel = LinearRegression(fit_intercept=True).fit(X_Train, y_Train)

#Predict the draft round for the test set
unformattedPredictions = linearModel.predict(X_Test)

predictions = []

#There are some errors with our predictions, they are giving wildly higher scores
for prediction in unformattedPredictions:
    if(prediction < 1.5):
        predictions.append(1)
    if(prediction >= 1.5 and prediction < 2.5):
        predictions.append(2)
    if(prediction >= 2.5 and prediction < 3.5):
        predictions.append(3)
    if(prediction >= 3.5 and prediction < 4.5):
        predictions.append(4)
    if(prediction >= 4.5 and prediction < 5.5):
        predictions.append(5)
    if(prediction >= 5.5 and prediction < 6.5):
        predictions.append(6)
    if(prediction >= 6.5):
        predictions.append(7)

print(unformattedPredictions)    

explainedVarianceScore = explained_variance_score(y_Test, predictions)
print("Explained variance score = ", explainedVarianceScore)

comparisonFrame = pd.DataFrame({'Actual': y_Test['draftRound'], 'predicted': predictions})
comparisonFrame

[[2.71944945]
 [2.71448438]
 [3.29700085]
 [3.18851672]
 [2.05716684]
 [3.22718877]
 [3.93262393]
 [2.69008765]
 [2.2336514 ]
 [2.53877511]
 [1.75234961]
 [2.4637391 ]
 [4.06210095]
 [2.27525615]
 [3.68726208]
 [3.47345428]
 [4.42759152]
 [4.86769145]
 [3.98861097]
 [4.48294058]
 [5.18461168]
 [4.30886701]
 [4.83600506]
 [4.44181882]
 [3.589805  ]
 [3.17789327]
 [3.68518753]
 [2.52473719]
 [4.22379525]
 [5.01083583]
 [2.8630679 ]
 [3.26614679]
 [5.36677935]
 [6.17515626]
 [3.86777979]
 [4.86416395]
 [4.65786299]
 [2.48271398]
 [5.38549817]
 [4.00671017]
 [6.89599372]
 [5.92829569]
 [4.8957603 ]
 [4.226585  ]
 [5.18130839]
 [1.61373619]
 [1.95427247]
 [2.57868234]
 [2.38698096]
 [3.52986534]
 [3.58266333]
 [2.93266362]
 [1.41178368]
 [3.83485764]
 [3.06317443]
 [3.99088103]
 [3.28480207]
 [4.80502252]
 [2.39609717]
 [3.54269742]
 [4.59543064]
 [3.11042563]
 [3.77592468]
 [4.24836515]
 [2.58512457]
 [3.01844918]
 [3.72882969]
 [4.17384396]
 [1.59459459]
 [4.90859545]
 [4.23099367]
 [4.06642143]
 [2.81683926]
 [2.41183378]
 [4.10905708]
 [4.00227918]
 [3.59946133]
 [4.38710297]
 [4.06564484]
 [2.93235889]
 [3.71285971]
 [3.77099458]
 [3.72556952]
 [5.56184127]
 [4.43127897]
 [5.56928229]
 [3.07306203]
 [3.72939502]
 [4.72580313]
 [3.34658238]
 [4.74075303]
 [2.36619986]
 [2.6535032 ]
 [1.86610545]
 [2.14466539]
 [2.39204341]
 [2.32956666]
 [2.16711432]
 [2.60688628]
 [2.40980215]
 [3.15449194]
 [2.10514559]
 [4.00966816]
 [1.24565734]
 [4.36438899]
 [2.21433976]
 [2.12387462]
 [2.45549659]
 [2.38635983]
 [3.3691899 ]
 [2.533606  ]
 [3.09300702]
 [3.64559871]
 [2.02845073]
 [2.55675162]
 [3.27772092]
 [4.83925965]
 [4.04801257]
 [3.25079659]
 [2.56779868]
 [4.980128  ]
 [3.49659108]
 [3.67760506]
 [4.10920209]
 [4.41384918]
 [2.52459547]
 [2.86094525]
 [3.12079797]
 [3.99004148]
 [2.21967686]
 [2.58188769]
 [3.9989935 ]
 [3.81570786]
 [4.82788644]
 [4.92661736]
 [4.52620552]
 [2.43111291]
 [1.50323726]
 [1.80383048]
 [4.07687871]
 [3.26470065]
 [3.4525836 ]
 [3.01907115]
 [3.22205902]
 [4.15199361]
 [4.87294314]
 [0.62932922]
 [2.12560161]
 [5.17886517]
 [4.87252968]
 [2.05581785]
 [3.12376843]
 [0.77297357]
 [1.72772401]
 [1.98896549]
 [3.86112063]
 [3.217804  ]
 [2.69418172]
 [2.48881733]
 [1.15415604]
 [1.29256588]
 [3.58644373]
 [2.7845182 ]
 [3.52506596]
 [3.89063842]
 [4.17198361]
 [3.63961575]
 [4.58107702]
 [4.16029017]
 [4.64372023]
 [3.74337197]
 [4.65984907]
 [3.68239905]
 [3.02549555]
 [5.05574898]
 [4.76790051]
 [3.65787593]
 [3.82141197]
 [2.73713733]
 [3.59994667]
 [4.59360985]
 [4.88482124]
 [4.11017911]
 [3.01220832]
 [4.88980699]
 [3.89843262]
 [3.83531669]
 [4.81719245]]
Explained variance score =  0.23859327684047127

     Actual  predicted
748       2          3
749       2          3
750       2          3
751       2          3
752       2          2
753       2          3
754       3          4
755       3          3
756       3          2
757       3          3
758       3          2
759       3          2
760       3          4
761       3          2
762       3          4
763       3          3
764       3          4
765       4          5
766       4          4
767       4          4
768       4          5
769       4          4
770       4          5
771       4          4
772       5          4
773       5          3
774       5          4
775       5          3
776       5          4
777       5          5
..      ...        ...
906       2          2
907       2          1
908       3          1
909       3          4
910       3          3
911       4          4
912       4          4
913       4          4
914       4          4
915       4          5
916       4          4
917       4          5
918       4          4
919       5          5
920       5          4
921       5          3
922       5          5
923       6          5
924       6          4
925       6          4
926       6          3
927       6          4
928       6          5
929       7          5
930       7          4
931       7          3
932       7          5
933       7          4
934       7          4
935       7          5

[188 rows x 2 columns]